# external requirements
# uncomment to install package

# statsmodels
# papermill
# tqdm
# textblob
# python-Levenshtein
# python-dotenv>=0.5.1
# datashader
# bohkeh
# orderedmultidict
# mpld3
# arrow
# delorean
# altair
# sklearn-pandas
# fuzzywuzzy
# mlflow